.Summary {
    flex: 1;
    font-size: 50px;
    font-weight: 500;

    display: flex;
    align-items: center;
}

@media (max-width:1024px) {
    .Summary { font-size: 35px; }
}
@media (max-width:864px) {
    .Summary { font-size: 30px; }
}
@media (max-width:614px) {
    .Summary { font-size: 26px; }
}
@media (max-width:444px) {
    .Summary { font-size: 20px; }
}