.Weather { 
    position: relative;
    width: calc(100% - 360px);
    height: 100vh;
    padding: 50px 20px 35px 50px;
    overflow: auto;
    display: flex;
    flex-flow: column;
}
.Weather::-webkit-scrollbar {
    appearance: none;
    width: 5px;
    height: 5px;
    background-color: transparent;
    outline: none;
    border-radius: 25px;
}
.Weather::-webkit-scrollbar-thumb {
    appearance: none;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 15px;

    scrollbar-color:  rgb(0, 0, 0, 0.5);
    scrollbar-width: 5px;
}