.Main {
    width: 100%;
    height: 100vh;
    padding: 50px 20px 15px 50px;
    border-bottom: 2px solid rgba(189,191,198, 0.2);
    
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.DaySummary { display: none; }

.Temperature {
    font-size: 170px;
    line-height: 170px;
    font-weight: 100; 
}

.TemperatureOverview {
    width: 100%;
    height: 180px;
    padding-bottom: 30px;

    display: flex;
}

.Weather__Unit {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.Unit {
    flex: 1;
    letter-spacing: 1px;
    padding-top: 30px;

    display: flex;
    justify-content: space-between;
}

.Weather__Unit img { width: 50px; }
.Celsius, .Fahrenheit { cursor: pointer; }
.Active { color: #5499e6; }

@media (max-width: 1024px) {
    .Temperature { font-size: 140px; }
}
@media (max-width: 864px) {
    .DaySummary { display: block; }
    .Main { padding: 30px 40px 15px 40px; }
}
@media (max-width: 614px) {
    .Main { padding: 50px 30px 15px 30px; }
    .Temperature {
        font-size: 115px;
        line-height: 200px;
    }
    .Unit { 
        font-size: 14px;
        letter-spacing: 0px;
    }
}
@media (max-width: 444px) {
    .Main {
        height: var( --app-height ); 
        padding: 35px 15px 15px 15px; 
    }
    .Weather__Unit { width: 15%; }
    .Temperature { 
        font-size: 95px;
        line-height: 220px;
    }
}