.DataItem {
    width: 100px;
    height: 170px;
    margin: 0 12px;
    padding: 12px 13px;
    text-align: center;
    background-image: linear-gradient(rgba(189,191,198, 0.2), rgba(189,191,198, 0.2));
    border-radius: 25px;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.Summary, .Item {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
.Item { font-size: 13px; }

.Icon {
    width: 70px;
    height: 70px;
}
.Icon img {
    width: inherit;
    height: inherit;
}

.Temperature {
    font-size: 23px;
    font-weight: 700;
}

@media (max-width: 864px) {
    .DataItem {
        width: 90px;
        height: 160px;
        margin: 0 12px;
        padding: 11px;
    }
    .Item { font-size: 12px; }
    .Icon {
        width: 60px;
        height: 60px;
    }
}